
.flagContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: space-around;
	flex-wrap: wrap;
	flex-flow: row wrap;
	flex-direction: row;
	width: 74%;
	margin: 30px auto;
	color: #aaa;
}


.flag {
	position: relative;
	display: inline-block;
	width: 80%;
	height: 155px;
	margin: 0 20px 20px;
	box-shadow: 0 0 50px rgba(black, 0.3);
	overflow: hidden;
	z-index: 0;
}
.gambia {
  background-color: #c92610;
}

  .gambia::before,
  .gambia::after {
    position: absolute;
    content: "";
    width: 100%;
  }

  .gambia::before {
    top: 30%;
    height: 29%;
    border-top: 10px solid white;
    border-bottom: 20px solid white;
    background-color: #1565c0;
  }

  .gambia::after {
    height: 30%;
    bottom: 0 !important;
    background-color: #009648;
  }
